<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huitu.api.hnsl.dao.StStcntSMapper">
  <resultMap id="BaseResultMap" type="com.huitu.api.hnsl.entity.StStcntS">
    <id column="ADCD" jdbcType="VARCHAR" property="adcd" />
    <result column="ADNM" jdbcType="VARCHAR" property="adnm" />
    <result column="STCNT" jdbcType="NUMERIC" property="stcnt" />
    <result column="TSTCNT" jdbcType="NUMERIC" property="tstcnt" />
    <result column="YSTCNT" jdbcType="NUMERIC" property="ystcnt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ADCD, ADNM, STCNT, TSTCNT, YSTCNT
  </sql>
  <select id="selectByExample" parameterType="com.huitu.api.hnsl.entity.StStcntSExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from YDDB1.dbo.ST_STCNT_S
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YDDB1.dbo.ST_STCNT_S
    where ADCD = #{adcd,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YDDB1.dbo.ST_STCNT_S
    where ADCD = #{adcd,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.huitu.api.hnsl.entity.StStcntSExample">
    delete from YDDB1.dbo.ST_STCNT_S
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huitu.api.hnsl.entity.StStcntS">
    insert into YDDB1.dbo.ST_STCNT_S (ADCD, ADNM, STCNT, 
      TSTCNT, YSTCNT)
    values (#{adcd,jdbcType=VARCHAR}, #{adnm,jdbcType=VARCHAR}, #{stcnt,jdbcType=NUMERIC}, 
      #{tstcnt,jdbcType=NUMERIC}, #{ystcnt,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.huitu.api.hnsl.entity.StStcntS">
    insert into YDDB1.dbo.ST_STCNT_S
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adcd != null">
        ADCD,
      </if>
      <if test="adnm != null">
        ADNM,
      </if>
      <if test="stcnt != null">
        STCNT,
      </if>
      <if test="tstcnt != null">
        TSTCNT,
      </if>
      <if test="ystcnt != null">
        YSTCNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adcd != null">
        #{adcd,jdbcType=VARCHAR},
      </if>
      <if test="adnm != null">
        #{adnm,jdbcType=VARCHAR},
      </if>
      <if test="stcnt != null">
        #{stcnt,jdbcType=NUMERIC},
      </if>
      <if test="tstcnt != null">
        #{tstcnt,jdbcType=NUMERIC},
      </if>
      <if test="ystcnt != null">
        #{ystcnt,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huitu.api.hnsl.entity.StStcntSExample" resultType="java.lang.Long">
    select count(*) from YDDB1.dbo.ST_STCNT_S
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update YDDB1.dbo.ST_STCNT_S
    <set>
      <if test="record.adcd != null">
        ADCD = #{record.adcd,jdbcType=VARCHAR},
      </if>
      <if test="record.adnm != null">
        ADNM = #{record.adnm,jdbcType=VARCHAR},
      </if>
      <if test="record.stcnt != null">
        STCNT = #{record.stcnt,jdbcType=NUMERIC},
      </if>
      <if test="record.tstcnt != null">
        TSTCNT = #{record.tstcnt,jdbcType=NUMERIC},
      </if>
      <if test="record.ystcnt != null">
        YSTCNT = #{record.ystcnt,jdbcType=NUMERIC},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update YDDB1.dbo.ST_STCNT_S
    set ADCD = #{record.adcd,jdbcType=VARCHAR},
      ADNM = #{record.adnm,jdbcType=VARCHAR},
      STCNT = #{record.stcnt,jdbcType=NUMERIC},
      TSTCNT = #{record.tstcnt,jdbcType=NUMERIC},
      YSTCNT = #{record.ystcnt,jdbcType=NUMERIC}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huitu.api.hnsl.entity.StStcntS">
    update YDDB1.dbo.ST_STCNT_S
    <set>
      <if test="adnm != null">
        ADNM = #{adnm,jdbcType=VARCHAR},
      </if>
      <if test="stcnt != null">
        STCNT = #{stcnt,jdbcType=NUMERIC},
      </if>
      <if test="tstcnt != null">
        TSTCNT = #{tstcnt,jdbcType=NUMERIC},
      </if>
      <if test="ystcnt != null">
        YSTCNT = #{ystcnt,jdbcType=NUMERIC},
      </if>
    </set>
    where ADCD = #{adcd,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huitu.api.hnsl.entity.StStcntS">
    update YDDB1.dbo.ST_STCNT_S
    set ADNM = #{adnm,jdbcType=VARCHAR},
      STCNT = #{stcnt,jdbcType=NUMERIC},
      TSTCNT = #{tstcnt,jdbcType=NUMERIC},
      YSTCNT = #{ystcnt,jdbcType=NUMERIC}
    where ADCD = #{adcd,jdbcType=VARCHAR}
  </update>
</mapper>